/* CS340 Project Styles */
body {
  height: 100%;
  background-color: rgba(212, 247, 244, 0.322);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

ul {
  list-style-type: none;
}

.center  {
  text-align: center;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.center-child {
  display: inline-block;
  text-align: left;
  margin-left: 0px;
  margin-bottom: 80px; /* Added height of footer plus a bit to solve content overlapping. */ 
  /* width: 90%; */
  overflow: auto;
  min-height: 900px;
} 


.page-wrapper { 
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
}

.page-content {
  overflow: hidden;
  margin-top: auto;
  margin-bottom: auto;
}

.fixed-page {
  margin-top: 120px;
  text-align: left;
  margin-left: 0px;
  margin-right: 30px;
  margin-bottom: 80px; /* Added height of footer plus a bit to solve content overlapping. */ 
  width: 95%;
}

.fixed-page a {
  color: #a15407;
  opacity: 1;
}

.fixed-page a:hover {
  color: rgb(225, 231, 231);
}



form {
  width: 710px;
}

.table-form {
	width: 100%;
}

.link-button {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  text-decoration: underline;
  font-size: 16px;
  font-family: 'Metal Mania', cursive;
}

table, th, td {	
	border: 1px solid black;
	border-collapse: collapse;
	width: 700px;
	text-align: center;
} 

th, td {
	width: auto;
	max-width: 100px;
	align-content: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}



/* -------------------------------------------------------------------------- */
/* Header Styles */
#header {
  margin: 0px;
  padding: 10px;
  user-select: none;
  overflow: hidden;
  flex-shrink: 0;
  position: fixed;
  width: 100%;
}

#header-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 960px;
  position: relative;
}

#header a {
  color: inherit;
  text-decoration: none;
  opacity: 1;
}

#header a:hover {
  color: rgba(30, 214, 88, 0.747);
}

#header li {
  font-weight: 60;
  font-size: 20px;
  display: inline;
  font-weight: 600;
  padding: 0px;
  margin: 0px 25px 0px 0px;
}

#page-select {
  position: relative;
  margin-top: 20px;
}

#logo {
  font-size: 30px;
  margin: 12px 0px 10px 100px;
  display: inline;
  position: absolute;
}

#flash-msg {
  position: fixed;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 500px;
  z-index:99;
  animation: fadeOut 4s;
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

#logout-button {
  font-size: 12 !important;
  font-family: 'Georgia';
}

/* -------------------------------------------------------------------------- */
/* Footer styles */
#footer {
  background-color: rgb(189, 184, 184);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  flex-shrink: 0;
  overflow: hidden;
}

#footer li {
  font-weight: 60;
  font-size: 20px;
  display: inline;
  font-weight: 600;
  padding: 0px;
  margin: 0px 25px 0px 0px;
}

#footer a {
  color: inherit;
  text-decoration: none;
  opacity: 1;
}

#footer a:hover {
  color: rgba(30, 214, 88, 0.747);
}

/* -------------------------------------------------------------------------- */
/* Index-specific styles */

.dist-child {
  width: 46%;
  float: left;
  padding: 10px;
  overflow: visible;
}
