<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Bootstrap core  -->
    <link href="{{ url_for('static', filename='bootstrap-theme.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %} - Analytics Application </title>

    <!-- Format flashed messages -->
    <script type="text/javascript">window.setTimeout("document.getElementById('flash-msg').style.display='none';", 4000); </script>
    {% endblock %}
  </head>
  <body>
    <div id="header">
      <div id="header-items" class="center">
        <h2>Distillation Column Calculator</h2>

        <ul id="page-select">
          <li><a href="/">Home</a></li>

          <!-- This should appear if no user is logged in -->
          {% if not current_user.is_authenticated %}
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
          {% endif %}
          
          <!-- This should appear if a user is logged in -->
          {% if current_user.is_authenticated %}
          <li><a href="/upload">Upload</a></li>
          <li><a href="/profile">Profile</a></li>
          <li>
            <a href="/logout">
              <button id="logout-button">
                Logout
              </button>
            </a>
          </li>
          {% endif %}
        </ul>

      </div>

    </div>
  
    <div class="page-wrapper">
      <div class="center">
        <div class="center-child"
          <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                      {% if category == 'message' %}
                        <div id="flash-msg" class="alert alert-warning" position="fixed" role="alert">
                      {% else %}
                        <div id="flash-msg" class="alert alert-{{ category }}" position="fixed" role="alert">
                      {% endif %}
                        {{ message }}
                      </div>
                  {% endfor %}
                {% endif %}
            {% endwith %}
          </div>

          {% block content %}
          {% endblock %}
        </div>  
      </div>
    </div>
  
   
    <div id="footer">
      <li><a href="https://github.com/spoonser" target="_blank" class="fa fa-github fa-lg"></a></li>
      <li><a href="https://www.linkedin.com/in/spencer-wagner-391764158/" target="_blank" class="fa fa-linkedin fa-lg"></a></li>
    </div>
      
    </div>
  </body>

  </html>
